flask
flask-cors
flask-limiter
yt-dlp
openai
openai-whisper
mlx-whisper
pyannote.audio
requests
gunicorn
python-dotenv
flask-socketio
simple-websocket
torchaudio
onnxruntime

pytest
pytest-mock
pytest-cov
